.socials-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 10px;
    font-size: 20px;
    z-index: 99999;
}

.socials-menu a {
    display: inline-block;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}

.socials-menu a>svg {
    position: relative;
    font-size: 30px;
    transition: all 0.6s ease-in-out;
}


.socials-menu a>svg:hover {
    fill: rgb(100, 221, 255);
    transform: translateX(10px);
    transition: all 0.6s ease-in-out;
}