.blog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}

.outer-blog-container {
    display: flex;
    border: 2px solid white;
    width: 90%;
}

.cards-container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    padding: 1rem 2rem;
    margin: 2rem 1rem;
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
}

.blog-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.blog-card-content h2 {
    font-size: 1.2rem;
}

.blog-card-image {
    width: 14rem;
    border: 2px solid white;
    object-fit: cover;
    object-position: center;
}

.blog-card-image img {
    width: 100%;
    position: relative;
}

/* Side panel info card */

.blog-info-card {
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 17rem;
    text-align: justify;
    top: 5rem;
    right: 3rem;
    height: 80vh;
    margin-top: 2rem;
    padding-top: 1rem;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.image-container img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
}

.blog-info-card-content {
    padding: 1rem;
}

.blog-info-card-content h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.blog-info-card-content p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.5rem;
}

/* Blog post modal */

.blog-post-modal-container {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid white;
    border-radius: 20px;
    width: 70vw;
    height: 80vh;
    top: 5rem;
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
}

.blog-modal-header {
    display: flex;
    align-items: center;
}

.blog-post-modal-container-active {
    display: flex;
}

.blog-modal-header span {
    position: absolute;
    right: 5rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.blog-modal-content {
    height: inherit;
    width: 100%;
    overflow-x: hidden;
}

.blog-post-modal-container h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 1rem;
    color: black;
}

.blog-content-modal-inner {
    position: relative;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.blog-modal-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-modal-img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40%;
    object-fit: cover;
    object-position: center;
}

/* media query for mobile 768px */

@media only screen and (max-width: 768px) {
    .blog-info-card {
        display: none;
    }

    .blog-card {
        margin: 1rem auto;
    }

    .cards-container {
        border: none;
    }

    .outer-blog-container {
        border: none;
        margin-top: 7rem;
    }

    .blog-content {
        position: fixed;
        box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.5);
        width: 100%;
        display: flex;
        justify-content: center;
        background: rgb(2, 2, 71);
        background: -moz-linear-gradient(90deg, rgba(2, 2, 71, 1) 17%, rgba(19, 1, 96, 1) 46%, rgba(15, 18, 133, 1) 80%);
        background: -webkit-linear-gradient(90deg, rgba(2, 2, 71, 1) 17%, rgba(19, 1, 96, 1) 46%, rgba(15, 18, 133, 1) 80%);
        background: linear-gradient(90deg, rgba(2, 2, 71, 1) 17%, rgba(19, 1, 96, 1) 46%, rgba(15, 18, 133, 1) 80%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020247", endColorstr="#0f1285", GradientType=1);
        z-index: 1;
    }


}
