.aboutpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.aboutpage-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
}

.aboutpage-left {
    width: 55%;
    height: 60%;
}

.aboutpage-about-container {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 0;
    scrollbar-track-color: transparent;
    text-align: justify;
    border: 2px solid transparent;
    /* box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4); */
    padding: 0 1.2rem;
    height: 70%;
}

.aboutpage-headshot {
    margin-left: 3rem;
    margin-top: -1rem;
}

.aboutpage-headshot-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {

    .aboutpage-container {
        overflow: hidden;
        padding-bottom: 1rem;
    }

    .aboutpage-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;

    }

    .aboutpage-about-container {
        width: 100%;
        height: 40%;
    }

    .aboutpage-title {
        text-align: center;
    }

    .aboutpage-left {
        width: 100%;
        height: 100vh;
        margin-top: 7rem;
    }

    .aboutpage-headshot-mobile {
        border-radius: 20px;
        border: 2px solid transparent;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
        display: block;
        margin: 0 auto;
        margin-top: 0.4rem;
        margin-bottom: 0.8rem;
    }

    .aboutpage-headshot {
        display: none;
    }
}
