.contactmePage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.contact-header {
    margin-top: 30px;
}

.contactmePage-content {
    display: flex;
    margin-top: 4rem;
    width: 100vw;
}

.contact-icons {
    margin: 0 2rem;
}

.contactIcon-container {
    margin-bottom: 0;
    border: 2px solid transparent;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
}

.contactIcon-container > svg {
    position:relative;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}


.contactIcon-container > svg:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    bottom: 5px;
    transition: bottom 0.5s ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
