.projectspage-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}

.project-container {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
}

.projectspage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.projects-cards-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 100px);
    margin-top: 5rem;
    overflow: visible;
}

.project-card-inner-container {
    height: 100%;
    padding: 1rem 0;
}

.project-cards {
    display: flex;
    overflow: visible;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 400px;
    border: 2px solid #fff;
    margin: 1rem;
    padding: 2rem 0.5rem;
    text-align: center;
    cursor: default;
    transition: all 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.03);
}

.project-card h1 {
    margin: 0;
}

.project-card-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card-technologies {
    color: aqua;
}

.project-card-link span {
    margin-left: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .projectspage-content {
        text-align: center;
    }

    .project-card {
        width: 80vw;
    }

    .project-cards {
        overflow: scroll;
    }

    .project-card-inner-container {
        overflow: scroll;
    }

    .projects-cards-container {
        overflow: hidden;
        margin-top: 2rem;
    }
}
