.left-block{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 70%;
}

.right-block {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 50%;
    padding-right: 5rem;
}

/* Home Page styling and Snap scroll effect */

.homepage-container {
    scroll-snap-type: y mandatory; /* Add the y axis snap */
    overflow-y: scroll; /* This allows the page to scroll as the hight we set below limits the page to 100vh */
    height: 100vh;
}

.homepage-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;
    width: 100vw; */
}

.section1 {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start; /* Add location the scroll snap will stop at */
}

.about-section {
    background: rgb(2,2,71);
    background: -moz-linear-gradient(90deg, rgb(136, 136, 155) 17%, rgba(19,1,96,1) 46%, rgb(42, 44, 104) 80%);
    background: -webkit-linear-gradient(90deg, rgba(2,2,71,1) 17%, rgba(19,1,96,1) 46%, rgba(15,18,133,1) 80%);
    background: linear-gradient(90deg, rgba(2,2,71,1) 17%, rgba(19,1,96,1) 46%, rgba(15,18,133,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020247",endColorstr="#0f1285",GradientType=1);
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.projects-section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.contactme-section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}



.homepage-title {
    margin: 0;
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-primary-text);
    animation: fadeIn 2s;
}

.homepage-content h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-primary-text);
    margin-bottom: 1rem;
    animation: fadeIn 5s;
}

.homepage-content p {
    display: inline-block;
    width: 600px;
    animation: slideInLeft 2s;
}

.homepage-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.homepage-btns {
    display: inline-block;
    margin-right: 2rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    color: var(--color-primary-text);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.homepage-btns:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(0, 0, 0, 0.2);
    animation: jello-horizontal 0.7s both;
}


.homepage-btns:active {
    opacity: 0.7;
}

#page-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-wrap a {
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 3s ease-in-out;
}

#page-wrap a:hover {
    text-decoration: underline;
    transition: all 3s ease-in-out;
}

.sidebar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height:100vh;
    z-index: 1;
    animation: slideInLeft 1s ease-in-out;
    transition: all 1s ease-in-out;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


/* **************** Keyframes animations **************** */

/* ----------------------------------------------
 * Generated by Animista on 2022-8-27 13:47:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes jello-horizontal{
    0%{
        -webkit-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1)}
    30%{
        -webkit-transform:scale3d(1.25,.75,1);
        transform:scale3d(1.25,.75,1)}
    40%{
        -webkit-transform:scale3d(.75,1.25,1);
        transform:scale3d(.75,1.25,1)}
    50%{
        -webkit-transform:scale3d(1.15,.85,1);
        transform:scale3d(1.15,.85,1)}
    65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}
    75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}
    100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}

@keyframes jello-horizontal{
    0%{
        -webkit-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1)}
    30%{
        -webkit-transform:scale3d(1.25,.75,1);
        transform:scale3d(1.25,.75,1)}
    40%{
        -webkit-transform:scale3d(.75,1.25,1);
        transform:scale3d(.75,1.25,1)}
    50%{
        -webkit-transform:scale3d(1.15,.85,1);
        transform:scale3d(1.15,.85,1)}
    65%{
        -webkit-transform:scale3d(.95,1.05,1);
        transform:scale3d(.95,1.05,1)}
    75%{
        -webkit-transform:scale3d(1.05,.95,1);
        transform:scale3d(1.05,.95,1)}
    100%{
        -webkit-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1)}}


@keyframes slideInLeft {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    .homepage-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-block {
        width: 90%;
        justify-content: flex-start;
        margin-top: 7rem;
    }

    .homepage-title {
        font-size: 3rem;
    }

    .homepage-content h2 {
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .homepage-content p {
        width: 100%;
    }

    .homepage-btns {
        margin-bottom: 1rem;
    }

    .homepage-buttons  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .nav-title {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .sidebar {
        display: none;
    }
}
